/* * {
    margin: 0;
    padding: 0;
} */
.boxWrapper{
    margin: 0 auto;
    
}
.box {
    width: 100px;
    height: 50px;
    border: 1px solid black;
}
.one-box{
    display: inline-block;
}